@reference "tailwindcss";

@layer components {
  .modal {
    --modal-inline-padding: 1rem;
    --modal-block-padding: 1rem;
    --modal-header-height: 3.5rem;
    --modal-footer-height: 3.5rem;
    --modal-width-tiny: 20rem;
    --modal-width-small: 40rem;
    --modal-width-medium: 48rem;
    --modal-width-large: 64rem;
    --modal-width-extra-large: 80rem;
    --modal-vertical-margin: 2rem;
    --modal-horizontal-margin: 1rem;
    --modal-border-radius: 0.25rem;
    --modal-border-width: 1px;
  }

  .modal-slide,
  .modal-backdrop {
    @apply fixed top-0 right-0 bottom-0 left-0 z-100;
  }
  .modal-backdrop {
    @apply bg-black/25 dark:bg-white/25;
  }

  .modal {
    @apply absolute 
    flex 
    flex-col
    rounded-[var(--modal-border-radius)] 
    border 
    border-solid 
    border-gray-200 
    bg-white 
    shadow-2xl
    shadow-black/10
    dark:border-gray-800
    dark:bg-black 
    dark:shadow-white/25;

    > .modal-header,
    > .modal-footer {
      @apply flex h-[var(--modal-header-height)] shrink-0 grow-0 items-center justify-between px-[var(--modal-inline-padding)];
    }
    > .modal-header {
      @apply border-b border-solid border-gray-200 dark:border-gray-800;
    }
    > .modal-footer {
      @apply border-t border-solid border-gray-200 dark:border-gray-800;
    }
    > .modal-header > h2 {
      @apply max-w-[calc(100%-3rem)] overflow-hidden text-xl font-medium text-ellipsis whitespace-nowrap;
    }
    > .modal-body {
      @apply grow overflow-y-scroll px-[var(--modal-inline-padding)] py-[var(--modal-block-padding)];
    }
  }

  .modal.fullscreen {
    @apply top-0 right-0 bottom-0 left-0 rounded-none border-0;
  }
  .modal.centered {
    --max-height: calc(100% - (2 * var(--modal-vertical-margin)));
    --max-width: calc(100% - (2 * var(--modal-horizontal-margin)));
    @apply top-1/2 left-1/2 max-h-[var(--max-height)] min-h-fit max-w-[var(--max-width)] -translate-x-1/2 -translate-y-1/2;
  }

  .modal.left {
    --max-width: calc(100% - var(--modal-horizontal-margin));
    @apply top-0 right-auto bottom-0 left-0 max-w-[var(--max-width)] rounded-none border-y-0 border-l-0;
  }

  .modal.right {
    --max-width: calc(100% - var(--modal-horizontal-margin));
    @apply top-0 right-0 bottom-0 left-auto max-w-[var(--max-width)] rounded-none border-y-0 border-r-0;
  }

  .modal.top {
    --max-height: calc(100% - var(--modal-vertical-margin));
    @apply top-0 bottom-auto left-0 max-h-[var(--max-height)] rounded-b-none border-t-0;
  }

  .modal.bottom {
    --max-height: calc(100% - var(--modal-vertical-margin));
    @apply top-auto right-auto bottom-0 left-0 max-h-[var(--max-height)] rounded-b-none border-t-0;
  }

  .modal.tiny {
    @apply w-[var(--modal-width-tiny)];
  }
  .modal.small {
    @apply w-[var(--modal-width-small)];
  }
  .modal.medium {
    @apply w-[var(--modal-width-medium)];
  }
  .modal.large {
    @apply w-[var(--modal-width-large)];
  }
  .modal.extra-large {
    @apply w-[var(--modal-width-extra-large)];
  }

  /* less than tailwind sm */
  @media (width < 40rem) {
    .modal.small,
    .modal.medium,
    .modal.large,
    .modal.extra-large {
      @apply w-full max-w-full rounded-none border-0;
    }
  }

  /* less than tailwind md */
  @media (width < 48rem) {
    .modal.medium,
    .modal.large,
    .modal.extra-large {
      @apply w-full max-w-full rounded-none border-0;
    }
  }

  /* less than tailwind lg */
  @media (width < 64rem) {
    .modal.large,
    .modal.extra-large {
      @apply w-full max-w-full rounded-none border-0;
    }
  }

  /* less than tailwind xl */
  @media (width < 80rem) {
    .modal.extra-large {
      @apply w-full max-w-full rounded-none border-0;
    }
  }
}
